#replies{
	padding:0;
}

#pagination>li{
	list-style: none;
	display: inline;
}

#pagination>li>a{
	margin: 10px;
	text-decoration:none;
}

#pagination a.active{
	font-weight:700;
	border: 1px solid blue;
	padding: 4px 8px; 
}

#modDiv{
	width: 300px;
    height: 100px;
    position: absolute;
    background: gray;
    text-align: center;
    padding: 15px 10px 10px 10px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    display:none;
}
.modal-title{
	margin-bottom: 10px;
}
.point{
	cursor : pointer;
}

#btnModReply{
	display:none;
}